.ro{
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}
.card{
    width: 24%;
    height: auto;
    border: 2px solid black;
}

.img{
    /* margin: 4px 5px 10px 2px; */
    overflow: hidden;
}

.img img{
    width: 100%;
}

.img img:hover{
    transform: scale(1.5, 1.5);
    transition:ease-out 1s;
}

.h3{
    text-align: center;
}
.para{
    margin: 10px;
    text-align: justify;
}

.btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn a{
    border: 2px solid gray;
    padding: 10px 40px 10px 40px;
    background-color: gray;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 20px 0px 20px 0px;
}

.btn a:hover{
    background-color: transparent;
    color: gray;
}


@media screen and (max-width: 1440px)
{
    
}

@media screen and (max-width: 1024px)
{
    .row{
        width: 100%;
        flex-wrap: wrap;
    }

    .card{
        width: 30%;
        height: auto;
        border: 2px solid black;
        margin: 20px 0px 20px 0px;
    }
}

@media screen and (max-width: 768px)
{
    .card{
        width: 48%;
        height: auto;
        border: 2px solid black;
        margin: 20px 0px 20px 0px;
    }   
}

@media screen and (max-width: 480px)
{
    .card{
        width: 99%;
        height: auto;
        border: 2px solid black;
        margin: 20px 0px 20px 0px;
    }   
}